
.color-1{color:#6eab11 !important;}
.color-2, .artikelhome-link-item{color:#00743e;}
.light-tombol{display:none !important;}
.colorsoft-1{color:#98c475;}
.borderwhite{border-color:#fff;}
.bordersoft{border-color:#98c475;}
.bordercolor-1, .metanext, .statcircle, .box-header h3, .aparatur-col, .pemerintah-title, .jadwal-box{border-color:#6eab11 !important;}
.bordercolor-2{border-color:#00743e !important;}
.running-title:after{border-left:#00743e 20px solid;}
.countdown-head svg, .beranda-icon svg, .pengaduan-pop .contact-icon svg, .pengaduan-pop .social-icon svg, .pemb-lokasi svg{fill:#6eab11;}
.widget-head svg, .change-menu svg{fill:#98c475;}
.stathead h1:before{border-right:#00743e 6px solid;}
.stathead h1:after{border-left:#00743e 6px solid;}
.bgcolor-1, .widget-inner .social-icon{background:#6eab11;}
.bgcolor-3, .bg-navsub{background:#00743e;}
.bgcolor-soft1, .jamkerja th{background:#d5edb8;}
.bggrad-color1{background:#6eab11;background:-moz-linear-gradient(90deg,#6eab11 20%,#b2e665 50%,#6eab11 80%);background:-webkit-linear-gradient(90deg,#6eab11 20%,#b2e665 50%,#6eab11 80%);background:linear-gradient(90deg,#6eab11 20%,#b2e665 50%,#6eab11 80%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6eab11",endColorstr="#6eab11",GradientType=1)}
.bggrad-color2{background:#00743e;background:-moz-linear-gradient(75deg,#00743e 0%,#6eab11 100%);background:-webkit-linear-gradient(75deg,#00743e 0%,#6eab11 100%);background:linear-gradient(75deg,#00743e 0%,#6eab11 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00743e",endColorstr="#6eab11",GradientType=1)}
.bg {background-image: linear-gradient(90deg, #b2e665 50%, #6eab11 50%);}
.headline-image-border{border:#6eab11 5px solid;}
.headline-image-border:before, .headline-image-border:after, .headline-text:before, .headline-text:after{border-left:#6eab11 60px solid;}
.headline-text:before{border-left:#6eab11 65px solid;}
.hour{background:#6eab11;}
.minute{background:#b2e665;}
.bgmodalcolor1{background:rgba(14,116,0,0.6);}
.homestyle-backg{background:transparent;background:-moz-linear-gradient(0deg,transparent 0%,#00743e 100%);background:-webkit-linear-gradient(0deg,transparent 0%,#00743e 100%);background:linear-gradient(0deg,transparent 0%,#00743e 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="transparent",endColorstr="#00743e",GradientType=1)}
.headgaleri-cover{background:#00743e;background:-moz-linear-gradient(90deg,#00743e 0%,transparent 100%);background:-webkit-linear-gradient(90deg,#00743e 0%,transparent 100%);background:linear-gradient(90deg,#00743e 0%,transparent 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00743e",endColorstr="transparent",GradientType=1)}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{color:#fff!important;background-color:#6eab11;border-color:#6eab11}
.pagination>li>a,.pagination>li>span{color:#6eab11;border:1px solid #6eab11}
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{color:#6eab11;background-color:#e0e0e0;border-color:#6eab11}
.artikelhome .pagination>.active>a,.artikelhome .pagination>.active>span,.artikelhome .pagination>.active>a:hover,.artikelhome .pagination>.active>span:hover,.artikelhome .pagination>.active>a:focus,.artikelhome .pagination>.active>span:focus{color:#fff;background-color:#6eab11;border-color:rgba(255,255,255,.3)}
.progress-moved .progress-bar2 {background-color: #b5ef8e;animation: progress 5s infinite;}
@keyframes progress {
0% {width: 0%;background: transparent;}
100% {width: 100%;background: #b5ef8e;}
}
.progress {background-color: #38c255 !important;}